@use '../01-Abstracts'as *;




body {
    overflow-x: hidden;
}


ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    transition: $transition;
}


img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}